extends layout

block content
  .container
    h2.form-signin-heading Add New Listing
    form.form-new-listing(role='form', action="/addlisting", method="post", style='max-width: 300px;')
      input.form-control(type='text', name="listing[shortdesc]", placeholder='short description')
      br
      textarea.form-control(type='textarea', rows="5", name="listing[longdesc]", placeholder='long description')
      br
      input.form-control(type='text', name="listing[address]", placeholder='address')
      br
      input.form-control(type='number', name="listing[price]", placeholder='$.$$')
      br
      input.form-control(type='text', name="listing[tags]", placeholder='tag1,tag2')
      br
      //- input.form-control-file(type='file', name="newfile")
      //- br
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Post Listing
