extends layout

block content
  div.hero
    h1 University Exchange
    p A place where UF Students can buy and sell items.
  button.btn.btn-primary.btn(type='prev') <
  button.btn.btn-primary.btn(type='next') >
