extends layout

block content
  .container
    form.form-signin.border.shadow-sm.rounded.p-5.bg-white.mt-3(role='form', action='/users/login', method='post')
      h2.form-signin-heading.mb-4 Account created, please log in.
      .form-group
        label(for='inputEmail') Username
        input.form-control(type='text', name='username', id='inputEmail', placeholder='Username', required, autofocus)
      .form-group
        label(for='inputPassword') Password
        input.form-control(type='password', name='password', id='inputPassword', placeholder='Password')
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
