extends layout

block content
  .container
    .row
      form.input-group.mb-4.mx-3(role='form', action='/listings/search', method='post')
        input.form-control(type='text', name='query', id='inputQuery', required)
        span.input-group-btn.ml-2
          button.btn.btn-primary(type="submit") Search
    .row
      .col
        .listings-grid
          - each listing in listings
            div.card.listing-thumb
              a(href="/listings/"+listing.id)
                img(class="card-img-top", src=listing.file)
              div.card-body
                a(href="/listings/"+listing.id)
                  h5.card-title.text-capitalize.text-truncate= listing.shortdesc
                h6.card-subtitle.h4.mb-2= "$" + listing.price
                p.card-text.text-truncate
                  small.text-muted= listing.address
