extends layout

block content
  if (user)
    .container
      input.form-control(type='text', name="address", placeholder='address')
      button.btn.btn-lg.btn-primary.btn-block(type='changepassword') Change Password
      h2 Current User Listings
          .row
      .col
        .listings-grid
          - each listing in listings
            div.card.listing-thumb
              a(href="/listings/"+listing.id)
                img(class="card-img-top", src=listing.file)
              div.card-body
                a(href="/listings/"+listing.id)
                  h5.card-title.text-capitalize= listing.shortdesc
                h6.card-subtitle.h4.mb-2= "$" + listing.price
                p.card-text
                  small.text-muted.text-truncate= listing.address

    button.btn.btn-primary.btn.mr-2(type='prev') <
    button.btn.btn-primary.btn(type='next') >

  if (!user)
    h2 Not Authorized
