extends layout

block content
  if (user)
    .container
      input.form-control(type='text', name="address", placeholder='address')
      button.btn.btn-lg.btn-primary.btn-block(type='changepassword') Change Password
      h2 Current User Listings
      * self listings *
  if (!user)
    h2 Not Authorized
