body {
  background-color: #eee;
  background-image: url("/background.png");
  background-attachment: fixed;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container {
  margin: 20px auto;
}
.listings-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr) );
  padding-bottom: 20px;
}
.listing-thumb {
  display: block;
}

.listing-thumb img {
  object-fit: cover;
  height: 250px;
}

.profile-picture {
  height:100px;
  width: 100px;
}

.profile-picture.small {
  height:50px;
  width: 50px;
}

.profile-picture.extra-small {
  height:30px;
  width: 30px;
}

.user-rating i {
  font-size: 17px;
  margin: 0 !important;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-5.py-1 {
    background-color: #bc581a;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 90s;
    animation-iteration-count: infinite
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: #00529b;}
    50%   {background-color: #bc581a;}
    100%  {background-color: #00529b;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color: #00529b;}
  50%   {background-color: #bc581a;}
  100%  {background-color: #00529b;}
}
